<div class="col-xs-12">
    <form (ngSubmit)="login()">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" [(ngModel)]="user.email" name="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" [(ngModel)]="user.password" name="password" class="form-control" id="pwd">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>